.catalog__list {
  @include list-style-none();
}

.catalog__item {
  min-height: 209px;
  padding: 20px 0;
  padding-bottom: 25px;

  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  &--all {
    position: relative;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  &--all {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
  }
}

.catalog__inner-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.catalog__link--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 105px;
}

.catalog__block-info {
  width: 50%;
}

.catalog__link--title {
  @include link-style();

  font-size: $font-size-medium;
}

.catalog__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: $font-weight-regular;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  text-transform: uppercase;

  &--all {
    margin-bottom: 5px;
  }
}

.catalog__table {
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.catalog__table tr {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 16px;
}

.catalog__button {
  text-decoration: none;
  font-size: $font-size-medium;
}

.catalog__button--all {
  width: 100%;

  background-color: #f2f2f2;
  color: #444444;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;

    background-image: url("../../img/icon-plus-mobile.svg");

    opacity: 0.2;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: $font-size-small;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;
    border: none;
    width: 324px;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 40px;
    margin-top: 140px;

    background-color: #f2f2f2;

    &:first-child {
      border: none;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }
  }

  .catalog__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .catalog__inner-wrap {
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
  }

  .catalog__block-info {
    width: 100%;
    text-align: center;
  }

  .catalog__title {
    padding: 0 60px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog__title br {
    display: none;
  }

  .catalog__link {
    position: relative;
    height: auto;

    &--img {
      margin-bottom: 40px;
    }
  }

  .catalog__img {
    content: "";
    position: absolute;
    bottom: 0;
  }

  .catalog__table {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 16px;
  }

  .catalog__table tr {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 8px;

    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__button {
    width: 250px;
    margin: 0 auto;
  }

  .catalog__item--all {
    padding-top: 160px;

    background-color: #ffffff;
    border: 1px solid #e6e6e6;

    text-align: center;
  }

  .catalog__wrapper--all {
    width: 250px;
    margin: 0 auto;
  }

  .catalog__title--all {
    margin-bottom: 30px;
    padding: 0 40px;
  }

  .catalog__text {
    padding: 0 20px;
    margin-bottom: 85px;

    font-size: 16px;
  }

  .catalog__button--all {
    &::before {
      width: 60px;
      height: 60px;
      top: 52px;
      left: calc(50% - 30px);
    }
  }
}

@media (min-width: $desctop-width) {
  .catalog {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    padding-top: 122px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__inner-wrap {
    width: 169px;
  }

  .catalog__title {
    padding: 0 10px;
  }

  .catalog__table {
    margin-bottom: 30px;
  }

  .catalog__button {
    width: 169px;
  }

  .catalog__item--all {
    padding-top: 160px;
  }

  .catalog__wrapper--all {
    width: auto;
  }

  .catalog__title--all {
    padding: 0 40px;
  }
}
