.catalog__list {
  @include list-style-none();
}

.catalog__item {
  min-height: 209px;
  padding: 20px 0;
  padding-bottom: 25px;

  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  &--all {
    position: relative;
  }

  &--other-products {
    min-height: auto;
    border-color: #cdcdcd;

    &:first-child {
      border-color: #cdcdcd;
    }
  }
}

.catalog__item-wrap {
  display: flex;
  flex-direction: column;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  &--all {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
  }
}

.catalog__inner-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.catalog__link {
  @include link-style();
}

.catalog__link--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 105px;
}

.catalog__block-info {
  width: 50%;
}

.catalog__link--title {
  @include link-style();

  font-size: $font-size-medium;
}

.catalog__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: $font-weight-regular;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  text-transform: uppercase;

  &--all {
    margin-bottom: 5px;
  }
}

.catalog__table {
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: $font-size-small;
  line-height: $line-height-small;

  &--other-products {
    margin-bottom: 20px;
  }
}

.catalog__table tr {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 16px;
}

.catalog__table--other-products tr {
  width: 100%;
}

.catalog__button {
  text-decoration: none;
  font-size: $font-size-medium;
}

.catalog__button--all {
  width: 100%;

  background-color: #f2f2f2;
  color: #444444;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus-mobile.svg");

    opacity: 0.2;
  }
}

.catalog__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-size: $font-size-small;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    position: relative;
    border: none;
    width: 324px;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 40px;
    margin-top: 140px;

    background-color: #f2f2f2;

    &:first-child {
      border-top: 0;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &--other-products {
      width: 100%;
      margin: 0;
      padding: 0;

      background-color: #ffffff;

      border-bottom: 1px solid #d9d9d9;

      &:first-child {
        border-color: #d9d9d9;
      }

      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }

  .catalog__item-wrap {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 35px;
  }

  .catalog__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .catalog__inner-wrap {
    flex-direction: column;
  }

  .catalog__block-info {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .catalog__title {
    padding: 0 60px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog__title--other-products {
    margin-bottom: 30px;
  }

  .catalog__title br {
    display: none;
  }

  .catalog__link {
    position: relative;
    height: auto;

    &--img {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  .catalog__img {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 324px;
    height: auto;
  }

  .catalog__table {
    margin-bottom: 13px;

    font-size: 16px;
    line-height: 16px;

    &--other-products {
      width: auto;
      margin-bottom: 0;
    }
  }

  .catalog__table tr {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 8px;

    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__table--other-products tr {
    border: none;
    padding: 0;
  }

  .catalog__table--other-products td {
    margin-left: 30px;
  }

  .catalog__button {
    width: 250px;
    margin: 0 auto;
  }

  .catalog__button--other-products {
    width: 100%;
  }

  .catalog__item--all {
    padding-top: 160px;

    background-color: #ffffff;
    border: 1px solid #e6e6e6;

    text-align: center;
  }

  .catalog__wrapper--all {
    width: 250px;
    margin: 0 auto;
  }

  .catalog__title--all {
    margin-bottom: 30px;
    padding: 0 40px;
  }

  .catalog__text {
    padding: 0 20px;
    margin-bottom: 85px;

    font-size: 16px;
  }

  .catalog__button--all {
    &::before {
      width: 60px;
      height: 60px;
      top: 52px;
      left: calc(50% - 30px);
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .catalog__list--other-products {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    padding-top: 125px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__item--other-products {
    width: auto;
    padding: 0;
    margin: 0;

    &:nth-child(odd) {
      margin: 0;
    }

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .catalog__item-wrap {
    align-items: center;
    padding: 15px 0;
    margin: 0;
  }

  .catalog__block-info {
    width: 172px;
    margin: 0 auto;
  }

  .catalog__title {
    padding: 0 10px;
    margin-bottom: 16px;
  }

  .catalog__title--other-products {
    max-width: 285px;
    margin: 0;
    padding: 0;
  }

  .catalog__table--other-products {
    width: 285px;
    margin-left: auto;
  }

  .catalog__table--other-products td {
    margin-left: 0;
  }

  .catalog__button {
    width: 169px;
  }

  .catalog__button--other-products {
    width: 245px;
    margin: 0;
    margin-left: 40px;
  }

  .catalog__item--all {
    padding-top: 165px;
  }

  .catalog__wrapper--all {
    width: auto;
    height: 100%;
  }

  .catalog__text {
    margin: 0;
  }

  .catalog__title--all {
    padding: 0 40px;
    margin-bottom: 25px;
  }

  .catalog__button--all {
    margin-top: auto;
  }
}
