.field-radio {
  padding: 26px 0;
  margin-bottom: 28px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.field-radio__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.field-radio__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.field-radio__list {
  @include list-style-none();
}

.field-radio__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-radio__text {
  position: relative;
  padding-left: 47px;

  font-size: $font-size-medium;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    border: 1px solid $border-color;
    border-radius: 50%;
  }

  &:active {
    opacity: 0.3;
  }
}

.field-radio__input:checked + .field-radio__text::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: calc(15px - 6px);
  top: 50%;
  transform: translateY(-50%);

  background-color: $accent-color;

  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .field-radio {
    padding: 22px 0;
    margin-bottom: 53px;

    border: none;
  }

  .field-radio__wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .field-radio__fieldset {
    padding: 33px 28px;
    margin: 0 40px;

    border: 1px solid $border-color;
  }

  .field-radio__item {
    margin-bottom: 31px;
  }

  .field-radio__text {
    padding-left: 60px;

    font-size: 20px;
    line-height: 20px;

    cursor: pointer;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .field-radio__input:focus + .field-radio__text::before {
    border-color: #bababa;
  }

  .field-radio__input:hover + .field-radio__text::before {
    border-color: #bababa;
  }

  .field-radio__input:checked + .field-radio__text::after {
    content: "";
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

@media (min-width: $desktop-width) {
  .form__section .field-radio {
    width: 570px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .form__section .field-radio__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .form__section .field-radio__fieldset {
    margin: 0;
    height: 100%;
    padding-top: 35px;
  }

  .form__section .field-radio__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
