.field-text {
  padding-bottom: 9px;

  overflow: hidden;

  &--comment {
    padding-top: 6px;
    margin-bottom: 17px;
  }
}

.field-text__fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.field-text__title {
  position: relative;
  margin-bottom: 33px;

  font-size: $font-size-big;
  line-height: 24px;
  color: $text-color-heading;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 2000px;
    top: 14px;
    left: -2024px;

    background-color: $accent-color;
  }

  &::after {
    left: auto;
    right: -2024px;
  }
}

.field-text__list {
  @include list-style-none();
}

.field-text__item {
  margin-bottom: 15px;
}

.field-text__item label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.field-text__text {
  margin-right: 15px;

  color: #222222;
  text-transform: uppercase;
  font-size: $font-size-medium;
}

.field-text--contacts .field-text__text {
  margin-right: 10px;
}

.field-text__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  &--phone {
    right: 13px;
  }
}

.field-text__textarea {
  width: 100%;
  min-height: 150px;
  padding: 13px;
  margin: 0;

  border: 1px solid $border-color;

  outline: 0;

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }
}

.field-text__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.field-text__input {
  padding: 12px 10px 12px 15px;
  flex-grow: 1;

  text-transform: uppercase;
  font-size: $font-size-medium;
  line-height: $line-height;
  color: $text-color;

  border: 1px solid $border-color;

  outline: none;

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }

  &:focus:invalid {
    border: 1px solid $error-color;
    box-shadow: inset 0 0 0 1px $error-color;
  }
}

.field-text__input:focus + .field-text__icon {
  fill: $accent-color;
}

.field-text__input:focus:invalid + .field-text__icon {
  fill: $error-color;
}

@media (min-width: $tablet-width) {
  .field-text {
    margin-bottom: 20px;

    overflow: hidden;

    &--comment {
      padding-top: 17px;
      margin-bottom: 45px;
    }
  }

  .field-text__wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .field-text__fieldset {
    margin-left: 40px;
    margin-right: 35px;
  }

  .field-text__item label {
    width: 100%;
  }

  .field-text__title {
    position: relative;
    margin-bottom: 75px;

    font-size: $font-size-heading;
    line-height: 36px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 2000px;
      top: 20px;
      left: -2040px;

      background-color: $accent-color;
    }

    &::after {
      left: auto;
      right: -2040px;
    }
  }

  .field-text__title br {
    display: none;
  }

  .field-text--contacts .field-text__title {
    margin-bottom: 77px;
  }

  .field-text__textarea {
    padding: 13px 18px;
    min-height: 175px;
  }

  .field-text__text {
    margin-right: 20px;
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 20px;
  }

  .field-text--contacts .field-text__text {
    margin-right: 20px;
  }

  .field-text--contacts .field-text__text--indent {
    margin-right: 15px;
  }

  .field-text__input {
    padding: 10px 10px 10px 15px;
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 20px;
  }

  .field-text--contacts .field-text__input {
    padding-left: 20px;
    padding-right: 50px;
  }

  .field-text__icon {
    right: 21px;

    &--phone {
      right: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-text--comment {
    margin-bottom: 50px;
  }

  .field-text__wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .field-text__fieldset {
    margin: 0;
  }

  .field-text__list {
    display: flex;
  }

  .field-text__item {
    width: 570px;

    &:first-child {
      margin-right: 60px;
    }
  }

  .form__section .field-text {
    width: 570px;
    padding-top: 0;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .form__section .field-text__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .form__section .field-text__fieldset {
    margin: 0;
  }

  .form__section .field-text__list {
    flex-direction: column;
  }

  .form__section .field-text__item:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }

  .field-text__item:last-child {
    margin-left: auto;
  }
}
