.form__submit-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form__submit-block {
    padding: 0 70px;
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    width: 283px;
    margin-right: 60px;
  }

  .form__submit-block small,
  .form__submit-block sup {
    font-size: $font-size-medium;
    line-height: $line-height-small;
  }
}
