.main-nav__list {
  @include list-style-none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__item {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__link {
  @include link-style;

  padding: 10px;
}
