.other-products {
  padding-bottom: 35px;
  overflow: hidden;
}

.other-products__heading {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin-top: 28px;
  margin-bottom: 35px;

  vertical-align: middle;
  font-size: $font-size-big;
  font-weight: $font-weight-regular;
  line-height: 24px;

  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 3px;
    left: 0;
    top: 50%;

    transform: translateY(50%);

    background-color: $accent-color;

    z-index: -1;
  }
}

.other-products__catalog {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .other-products {
    padding-bottom: 75px;
  }

  .other-products__heading {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 77px;

    font-size: $font-size-heading;
    line-height: 36px;

    &::before {
      width: 2000px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2000px;
      height: 3px;
      right: 0;
      top: 50%;

      transform: translateY(50%);

      background-color: $accent-color;

      z-index: -1;
    }
  }

  .other-products__catalog {
    width: auto;
    padding: 0;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .other-products {
    padding-top: 43px;
    padding-bottom: 85px;
  }

  .other-products__wrapper {
    display: flex;
  }

  .other-products__heading {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 2000px;
      top: 20px;
      left: -2040px;

      background-color: $accent-color;
    }

    &::after {
      left: auto;
      right: -2040px;
    }
  }

  .other-products__catalog {
    width: 895px;
    margin: 0;
    margin-right: 80px;
  }
}
