.page-header {
  border-bottom: 1px solid #ededed;
}

.page-header__container {
  display: flex;
  justify-content: space-between;

  width: 320px;
  padding: 13px 20px;
  padding-top: 12px;
  margin: 0 auto;
}

.page-header__logo img:active {
  opacity: 0.6;
}

.page-header__button {
  width: 25px;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;

  &--no-js {
    display: none;
  }

  &--close {
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom: none;
    margin-bottom: 5px;

    &--inner-page {
      margin-bottom: 0;
    }
  }

  .page-header__wrapper {
    width: 768px;
    padding: 25px 30px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .page-header__logo img {
    width: 228px;
    height: 58px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .page-header__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;

    z-index: 10;
  }

  .page-header__wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 45px;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
  }
}
