.page-main {
  min-width: 320px;
}

.page-main__heading {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  font-weight: $font-weight-regular;
  font-size: $font-size-heading;
  line-height: $line-height-big;
}
