.product-description__heading {
  margin-top: 17px;
  margin-bottom: 30px;

  font-weight: $font-weight-regular;
  font-size: $font-size-heading;

  line-height: $line-height-big;
}

.product-description__list {
  @include list-style-none();

  margin-bottom: 45px;
}

.product-description__item {
  position: relative;
  margin-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -4px;
    left: 0;

    background-image: url("../img/advantage-leaf@1x.png");
    background-color: $accent-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.product-description__item:nth-child(2)::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.product-description__item:nth-child(3)::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.product-description__item:last-child::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.product-description__text {
  margin: 0;
  padding-left: 80px;

  font-size: $font-size;
  line-height: $line-height;

  font-family: "Arial", sans-serif;
}

.product-description__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .product-description__heading {
    margin-bottom: 70px;

    font-size: $font-size-heading-big;
    line-height: $line-height-big;
  }

  .product-description__list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-description__item {
    width: 324px;
    min-height: 230px;
    padding-top: 113px;
    margin-bottom: 87px;

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &::before {
      top: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "1";
      position: absolute;
      bottom: 120px;
      left: 115px;

      font-size: 281px;
      color: #f2f2f2;

      z-index: -1;
    }
  }

  .product-description__item:nth-child(2)::after {
    content: "2";
  }

  .product-description__item:nth-child(3)::after {
    content: "3";
  }

  .product-description__item:last-child::after {
    content: "4";
  }

  .product-description__text {
    width: 250px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .product-description__text br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .product-description__heading {
    margin-bottom: 75px;
  }

  .product-description__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 25px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .product-description__text {
    width: 100%;
  }
}
