.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.promo__heading-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  padding-bottom: 160px;

  text-align: center;
  color: $text-color-white;

  background-color: #63a73a;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.promo__heading {
  margin-bottom: 15px;
  font-size: $font-size-heading;
  font-weight: $font-weight-regular;

  line-height: $line-height * 2;
}

.promo__text {
  text-transform: uppercase;
}

.promo__img {
  margin-top: -150px;
}

.promo__button {
  @include link-style();

  width: 280px;
  color: $text-color-white;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;

    align-items: flex-start;
    padding-left: 90px;
  }

  .promo__heading-block {
    width: auto;
    padding: 0;

    text-align: left;
    background-image: none;
    background-color: #ffffff;
  }

  .promo__heading {
    color: #111111;
    font-size: $font-size-heading-big;
    line-height: $line-height-big;
  }

  .promo__text {
    margin-right: auto;

    color: #111111;
    font-size: 20px;
    line-height: $line-height-medium;
  }

  .promo__img {
    margin: 0 auto;
  }

  .promo__button {
    position: absolute;
    left: 120;
    bottom: 190px;
  }
}
