.promo {
  position: relative;
}

.promo__bg {
  position: absolute;
  width: 100%;
  height: 305px;
  padding: 10px 20px;
  padding-bottom: 160px;

  text-align: center;
  color: $text-color-white;

  background-color: #64a83b;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.promo__heading-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;

  text-align: center;
  color: $text-color-white;
}

.promo__heading {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: $font-size-heading;
  font-weight: $font-weight-regular;

  line-height: $line-height * 2;
}

.promo__text {
  margin-bottom: 18px;

  text-transform: uppercase;
}

.promo__img {
  margin-top: -150px;
  margin-bottom: 2px;
}

.promo__button {
  @include link-style();

  width: 280px;
  color: $text-color-white;
}

@media (min-width: $tablet-width) {
  .promo__bg {
    display: none;
  }

  .promo__wrapper {
    position: relative;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 320px;
  }

  .promo__heading-block {
    width: auto;
    padding: 0;
    padding-left: 90px;

    text-align: left;
    background-image: none;
    background-color: #ffffff;
  }

  .promo__heading {
    margin-bottom: 20px;

    color: #111111;
    font-size: $font-size-heading-big;
    line-height: $line-height-big;
  }

  .promo__text {
    margin-right: auto;

    color: #111111;
    font-size: 20px;
    line-height: $line-height-medium;
  }

  .promo__img {
    margin: 0 auto;
  }

  .promo__button {
    position: absolute;
    width: auto;
    left: 120px;
    bottom: 510px;

    padding: 15px 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desctop-width) {
  .promo {
    min-height: 695px;
    margin-top: -160px;
    margin-bottom: 80px;
    padding-top: 150px;
    padding-bottom: 30px;
  }

  .promo__bg {
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;

    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: left center;
  }

  .promo__wrapper {
    padding-top: 65px;
    padding-bottom: 10px;
  }

  .promo__heading-block {
    padding-left: 80px;
    margin-bottom: 35px;

    background-color: transparent;
  }

  .promo__heading {
    margin-top: 8px;
  }

  .promo__img {
    position: absolute;
    left: 45%;
    top: 0;
  }

  .promo__button {
    position: static;
    margin-left: 80px;
  }
}
