.social__list {
  @include list-style-none();

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  font-size: 0;

  &--vk {
    width: 22px;
    height: 12px;

    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--insta {
    width: 22px;
    height: 16px;
    margin: 0 33px;

    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fb {
    width: 22px;
    height: 19px;

    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &--vk {
      width: 30px;
      height: 25px;
    }

    &--insta {
      width: 23px;
      height: 23px;
      margin: 0 27px;
    }

    &--fb {
      width: 22px;
      height: 27px;
      margin-right: 12px;
    }
  }
}
