.social__list {
  @include list-style-none();

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  font-size: 0;

  &--vk {
    width: 22px;
    height: 12px;

    background-image: url(../../img/icon-vk.svg);
  }

  &--insta {
    width: 16px;
    height: 16px;
    margin: 0 40px;

    background-image: url(../../img/icon-insta.svg);
  }

  &--fb {
    width: 10px;
    height: 19px;

    background-image: url(../../img/icon-fb.svg);
  }
}
