/* colors */
$text-color: #444444;
$text-color-white: #ffffff;
$text-color-heading: #111111;
$accent-color: #68b738;
$border-color: #e6e6e6;

$font-family: "Oswald", "Arial", sans-serif;

/* font-weight */
$font-weight-regular: 400;
$font-weight-medium: 500;

/* font-size */
$font-size-heading-big: 60px;
$font-size-heading: 36px;
$font-size-big: 24px;
$font-size-medium: 16px;
$font-size: 14px;
$font-size-small: 12px;

/* line-height */
$line-height-big: 60px;
$line-height-medium: 20px;
$line-height: 18px;
$line-height-small: 16px;

/* media-width */
$tablet-width: 768px;
$desktop-width: 1300px;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
